<div class="linkingModal-container">
	<a class="float-r close" id="closeLinking" data-dismiss="modal" href="#">×</a>
	<div id="linkingModal_left" style="padding:15px;position:relative;"></div>
	<div class="clearfix"></div>
</div>
<div id="account_drawer_mask">
	<div id="statusBar_container"></div>
	<div id="account_drawer"></div>
</div>
<div id="linking-errorTooltip" style="display:none;">
	<div class="caret"></div>
	<div class="bgCaret"></div>
	<div class="errorTooltip-icon"></div>
	<div class="errorTooltip-text">
		There has been an error connecting to<br>
		<span id="errorTooltip-number"></span>
	</div>
</div>