<div id="loginForm_main_headerBg"></div>
<div id="loginForm_main_header"><span>CONNECT YOUR ACCOUNTS</span></div>
<div id="search_container">
	<div id="searchInput_container"></div>
	<div id="searchResults_container"></div>
	<button id="addManualAccount" type="button" class="btn trans_btn" style="margin-top:8px;">
		<span class="icon_bluePlus" style="width: 12px;
height: 12px;
display: block;
float: left;
left: 8px;
top: 7px;
position: absolute;"></span>
		<span class="btn_text">Manually Add Account</span>
	</button>
</div>