<div class="browse-layout">

  <div class="col20">
    <div class="user-accounts">
      <div class="account-categories">
      	ACCOUNTS
      </div>
    </div>
  </div>

  <div class="col80">
    <div class="contents">
    	BROWSE
    </div>
  </div>
  
</div>
