{{! <div id="chart"> }}
<div id="chart" style="width:100%">
	<div class="update" style="background:#333"> UPDATE YO SELF</div>
	<svg style="height:500px"></svg>
</div>

<div class="calc-controls">
	
</div>