<div class="container-fluid">
  <div class="row-fluid">
  	<div class="span4" style="height:75px;">
  		CONTENT A
  	</div>
  	<div class="span4 offset4" style="height:75px;">
  		CONTENT B
  	</div>
  	<hr class="featurette-divider">
  </div>
  <div class="row-fluid">
    <div id="dash-left"   class="span3"><div class="full-width" style="padding:20px;">Sidebar</div></div>
    <div id="dash-middle" class="span9"><div class="full-width" style="padding:20px;">Main Content</div></div>
    {{! <div id="dash-right"  class="span2"><div class="full-width" style="padding:20px;">Sidebar</div></div> }}
  </div>
</div>