<div class="container-fluid">
  <div class="row-fluid">
  	<div class="span4" style="height:75px;">
  		<h3>Loan Type</h3>
  			Federal
  	</div>
  	<div class="span4" style="height:75px;">
  		<h3>Loan Status</h3>
  			Current
  	</div>
  	<div class="span4" style="height:75px;">
  		<h3>Monthly Payment</h3>
  			$385.30
  	</div>
  	<hr class="featurette-divider">
  </div>

  <div class="row-fluid">
    <div id="dash-left"   class="span2"><div class="full-width" style="padding:20px;">Sidebar</div></div>
    <div id="dash-middle" class="span10"><div class="full-width" style="padding:20px;">Main Content</div></div>
    {{! <div id="dash-right"  class="span2"><div class="full-width" style="padding:20px;">Sidebar</div></div> }}
  </div>
  <div class="row-fluid">
    <div id="info" class="span12"><div class="full-width" style="padding:320px;">LOTS OF INFORMATION HERE</div></div>
    {{! <div id="dash-middle" class="span8"><div class="full-width" style="padding:20px;">Main Content</div></div> }}
    {{! <div id="dash-right"  class="span2"><div class="full-width" style="padding:20px;">Sidebar</div></div> }}
  </div>
</div>