<div class="container-fluid">
  <div class="row-fluid">
    <div class="dashboard-1 span2"><div class="full-width" style="padding:20px;">Sidebar</div></div>
    <div class="dashboard-2 span8"><div class="full-width" style="padding:20px;">Main Content</div></div>
    <div class="dashboard-3 span2"><div class="full-width" style="padding:20px;">Sidebar</div></div>
  </div>
</div>