<ol class="unstyled pull-right">
	<li><a href="https://twitter.com/getseer" target="_blank">Twitter</a></li>
	<li><a href="https://www.facebook.com/getseer" target="_blank">Facebook</a></li>
	<li><a href="https://angel.co/seer-2" target="_blank">Angel</a></li>
	<li><a href="/privacy-policy">Privacy Policy</a></li>
</ol>
<p class="credit">Seer, Inc. Made in NYC</p>