<!-- REAL FOOTER -->
<footer class="container center">
    <div class="row-fluid">
    <div class="span2 offset1 nowrap">
        <h5>CONTACT:</h5>
        <div itemscope itemtype="http://schema.org/Organization">
            <p>
                <span itemprop="streetAddress">90 Clinton St.</span> <br/>
                <span itemprop="addressLocality">New York City</span>, <span itemprop="addressRegion">NY</span> 10002 <br/>
                <a href="tel:867.5309">867.5309</a>
            </p>
        </div>

        <ul class="arrow-link">
            <li> 
                <h5 class="">
                <i class="icon-angle-right"></i>
                <a id="map-direction" href="#Map" class="">
                    Map & Directions
                </a>
                </h5>
            </li>
            <li>
                <h5 class="">
                <i class="icon-angle-right"></i>
                <a id="parking-options" href="#Map" class="">
                    Parking options
                </a>
                </h5>
            </li>
        </ul>

        <p style="margin:0;">
            Get in touch:
        </p>
        <ul class="arrow-link">
            <li> 
                <h5 style="margin-top: 0;" >
                  <i class="icon-angle-right"></i>
                  <a class="" href="mailto:hello@studentlendingproject.com">info@studentlendingproject.com</a>
                </h5>
            </li>
        </ul>
    </div>
    <div class="span4 offset1 tweets">
        <h5>TWITTER:</h5>
          <div class="item">
            <p>
                @sitchenko Thanks for spreading the word, Sitch!
                <span class="moment black-letter">
                    <a href="http://twitter.com/sitchenko/status" target="_blank">
                      7 hours  ago.
                    </a>
                </span>
            </p>
        </div>
          <div class="item">
            <p>
                @abKors Student Lending Project is the best!
                <span class="moment black-letter">
                    <a href="http://twitter.com/abKors/status/" target="_blank">
                    1 day  ago.
                    </a>
                </span>
            </p>
        </div>
        <p class="social-icons">
          <a href="https://www.facebook.com/studentlendingproject" target="_blank"><i class="icon-facebook"></i></a>
          <a href="https://twitter.com/studentlendingproject" target="_blank"><i class="icon-twitter"></i></a>
          <a href="http://www.linkedin.com/company/studentlendingproject" target="_blank"><i class="icon-linkedin"></i></a>
        </p>
    </div>
    <div class="span3 offset1 ">
        <ul class="arrow-link nowrap">
            <li class=""> 
                <h5>
                    <i class="icon-angle-right"></i>
                    <a href="/careers" target="_self">Careers</a> 
                </h5>
            </li>
        </ul>
        <div class="row-fluid newsletter">
            <div id="newsletterSignup" class="span12">
                <h5 class="black-letter title">NEWSLETTER SIGNUP</h5>
                <input type="text" style="display:none;" name="email123" value="AF#w}BIj462OMgZ[y^%#WX0BauiGDutYs"/>
                <input class="signup hit-enter" type="text" name="email" placeholder="ENTER YOUR EMAIL" data-target=".newsletter .submit"/>
                <br/>
                <input type="button" class="btn block submit light-grey-bg" value="Submit" />
            </div>
        </div>
        <div class="newsletter-confirm hide" style="white-space: normal;"></div>

        <div class="legal">
          <p class="small-note">
            &COPY;2013 Student Lending Project. All Rights Reserved. 
            <br/>
            <a href="#privacy" class="">Privacy</a> | <a href="#terms-conditions" class="">Terms & Conditions</a>
          </p>
        </div>
      </div>

      <!-- <div class="span5"></div> -->

    </div>
</footer>