<div class="span4 offset4">
  <div class="well">
    <legend>Sign-up for SLP</legend>
    <form method="POST" action="" accept-charset="UTF-8">

        <div class="alert alert-error hidden">
            <a class="close" data-dismiss="alert" href="#">x</a>Incorrect Username or Password!
        </div>
        <input class="span12" placeholder="Username" type="text" name="username">
        <input class="span12" placeholder="Email" type="email" name="email"> 
        <input class="span12" placeholder="Password" type="password" name="password">	 	
        <label class="checkbox">
            <input type="checkbox" name="remember" value="1"> Remember Me
        </label>
        <label class="checkbox">
            <input type="checkbox" name="agrees" value="1"> Agree to <a href="#">Terms of Service</a>
        </label>
        <button id="signup-btn" class="btn-info btn">Signup</button>
    </form>    
  </div>
</div>
