<div class="entity">

  <div class="col80 entity-preview"></div>

  <div class="col20 entity-details">
    <div class="entity-sharing actions"></div>
    <div class="entity-info"></div>
    <div class="entity-related"></div>
  </div>

</diV>
